<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="strCnnxxx" value="uid=sa;pwd=12345;Initial Catalog=hospital; Data Source=(local)"/>
    <add key="strCnn" value="bIwIAvSiXqXJ5k/NMwXmaUk6hVOZMzK2AhZ9r00b0dDQ1Wr0unGRI8G71l/XBfLqZs7zN+iEwrOAUfLhgs7XIZ3Jk9aBInh8PgV6jGY8ypI="/>

    <add key="tcp_address" value="net.tcp://192.168.137.2:9091/"/>
    <add key="http_address" value="http://192.168.137.2:8081/"/>

  </appSettings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
